# Основные библиотеки
streamlit
pandas
numpy
openpyxl
openai

# Визуализация
matplotlib
plotly

# Дополнительные компоненты Streamlit
streamlit-extras  # Дополнительные компоненты для Streamlit

# Обработка файлов
python-docx==0.8.11  # Работа с документами Word

# Планировщик задач
schedule

# Работа с запросами (для локальных LLM)
requests

# Для сохранения JSON конфигураций
json5